<%= form_with(model: breastfeeding, local: true) do |form| %>
  <% if breastfeeding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(breastfeeding.errors.count, "error") %> prohibited this breastfeeding from being saved:</h2>

      <ul>
      <% breastfeeding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :volume %>
    <%= form.number_field :volume %>
  </div>

  <div class="field">
    <%= form.label :feeding_time %>
    <%= form.number_field :feeding_time %>
  </div>

  <div class="field">
    <%= form.label :baby_id %>
    <%= form.text_field :baby_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
