<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @breastfeeding.name %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @breastfeeding.volume %>
</p>

<p>
  <strong>Feeding time:</strong>
  <%= @breastfeeding.feeding_time %>
</p>

<p>
  <strong>Baby:</strong>
  <%= @breastfeeding.baby %>
</p>

<%= link_to 'Edit', edit_breastfeeding_path(@breastfeeding) %> |
<%= link_to 'Back', breastfeedings_path %>
