<p id="notice"><%= notice %></p>

<h1>Babies</h1>

<table>
  <thead>
    <tr>
      <th>Name          </th>
      <th>Veces que ha amamantado</th>
      <th>Cantidad en ml</th>
      <th>Tiempo total de amamantado (en segundos)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @babies.each do |baby| %>
      <tr>
        <td><%= link_to baby.name, baby_path(baby) %></td>
        <td><%= baby.feed_count %></td>
        <td><%= baby.feed_volume %></td>
        <td><%= baby.feed_time %></td>
        <td><%= link_to 'Show', baby %></td>
        <td><%= link_to 'Edit', edit_baby_path(baby) %></td>
        <td><%= link_to 'Destroy', baby, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baby', new_baby_path %>
